body{
    font-family: 'Raleway', sans-serif;
}
:root{
    scroll-behavior: smooth;
}
.contenedor{
    width :90%;
    max-width: 1200px;
    overflow: hidden;
    margin:auto;
    padding:60px 0;
}
.logo{
    position: fixed;
    z-index:10;
    top: 30px;
    left:30px;
    background: #fff;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0 0 6px rgb(0, 195, 255);
}
header{
    box-shadow: 1px 1px 5px #018091;
    position: fixed;
    width:100%;

    z-index: 0;
    margin-top: auto;
}

.menufijo{

    opacity: 1;
    flex-wrap: wrap;
    text-align: right;
    padding-bottom: 0.1px;
    color: antiquewhite;
    background: linear-gradient(-90deg, #fd56e7 0%,#85fd56 10%,  #73b3fd 40%,#ffffff 100%);
    
}
.menufijo1{
    margin: -20px auto;
    opacity: 1;
    flex-wrap: wrap;
    text-align: right;
    padding-bottom: 0.1px;
    color: antiquewhite;
    background: linear-gradient(-180deg, #06ac00 0%,  #dffbff 100%);
}
.menufijo1 ul a{
    color :black;
    text-decoration: none;
    font: 16px;
    padding: 10px 20px 19px 20px;
    box-shadow: 0 0 6px rgb(0, 195, 255);
}
.menufijo1 ul a:hover{
    color:#09ff01;
    background-color: #fafafa;
}
.menufijo2{
    margin:  auto;
    opacity: 1;
    flex-wrap: wrap;
    text-align: right;
    padding-bottom: 0.1px;
    color: antiquewhite;
    background: linear-gradient(-180deg, #06ac00 0%,  #dffbff 100%);
}
.menufijo2 ul a{
    color :rgb(255, 255, 255);
    text-decoration: none;
    font: 16px;
    padding: 10px 20px 19px 20px;
}
.menufijo2 ul a:hover{
    color:#ff0178;
    background-color: #fafafa;
}
.menufijo ul a{
    color :rgb(255, 255, 255);
    text-decoration: none;
    font: 16px;
    padding: 10px 20px 19px 20px;
}
.menufijo ul a:hover{
    color:#ff0178;
    background-color: #fafafa;
}

.foto-centro{
    text-align: center;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    text-align: center;
    color: #018091;
}
.copy{
    font-weight: 300;
    font-size: 25px;
}
.parrafo{
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}


.subtitulo{
    text-align: center;
    font-weight: 300;
    color:rgb(20, 0, 109);
    margin-bottom:40px;
    font-size: 40px;
}
/*INDEX*/
/* NEW CARDS */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}
/*QUIENES*/
.quienes-contenedor{
   /*display:flex;*/
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;   
   
}

.checklist-quienes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 10px 0;
}
.n-quienes{
    column-count:0;
}
.quienes img{
    width:  100%;
    height: 400px;
    object-fit: cover;
    
}
/*PRODUCTOS*/
.productos-contenedor{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.productos-contenedor img{
    width :40%;
}
.checklist-productos{
    width: 40%;
}
.producto{
    margin-bottom: 7px;
}
.n-producto{
 
    color: green;
    margin-bottom:40px;
    font-size: 33px;
    text-align: center;
    font-weight: 250;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 7px;
}
ul, li{
    margin :0;
    padding: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    z-index: -1;
    width: 700px;
    height: 400px;
}
ul.slider li{
    position: absolute;
    left:0;
    top :0;
    opacity: 0;
    width: 700px;
    height: 400px;
    background-color: azure;
    transition: opacity .5s;
    display: block;
    margin:auto;
}
.containeri{
  align-items: center;
}
ul.slider li img{
    width:  100%;
    height: 400px;
    object-fit: cover;
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}
.menuP{
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
}
.menuP li{
    display: inline-block;
    text-align: center;
}
.menuP li a{
    display: inline-block;
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-image: linear-gradient(to top, #199600 0%, #00e3ae 100%);
    padding: 10px;
    width: 5px;
    height: 5px;
    font-size: 5px;
    border-radius: 100%;
}

/*GALERIA*/
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    margin-bottom: 15px;
    display:block;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.644);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform :translate(0);
}
.agregar-imagen{
    object-fit: cover;  
    width: 60%;
    border-radius: 10px;
    transition: transform .3s .2s;
    transform: scale(0);
}
.show-image{
    transform: scale(1);
}
.agregar{
    transform:translate(0);
}

.close{
    position:absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
    width: 40px;
    color: silver;
}

/*DONACIONES*/
.donaciones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-donaciones{
    width: 34%;
    margin-bottom: 25px;
    text-align: center;

}
 .cont-donaciones img{
     width: 80%;
    border-radius: 100%;
     display: block;
     margin:0 auto;
     box-shadow: 0 0 6px rgb(255, 0, 191);
 }

 .n-donaciones{
     display: inline-block;
     margin-top: 20px;
     width :100%;
     font-weight:400;

 }
 

 /*CONTACTANOS*/

 footer{
     background:#050505;
     padding-bottom: 0.1px;
 }
 .footer-content{
     display:flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap:wrap;
     padding-top: 40px;
     padding-bottom: 40px;
     
 }

 .contact-us{
     width:40%;
     color:rgb(255, 255, 255);
 }
 .brand{
     font-weight: 500;
     font-size: 40px;
 }
 .brand-p{
     font-weight: 500;
 }

 .social-media{
     width: 50%;
     display:flex;
     justify-content: flex-end;
 }
 .social-media-icon{
     display:inline-block;
     margin-left:20px;
     width:60px;
     height: 60px;
     border: 1px solid rgb(255, 255, 255);
     border-radius: 50%;
     text-align:center;
     color: rgb(255, 255, 255);

 }
 .social-media-icon:hover{
     background: rgb(255, 255, 255);
     color:aqua;
 }

 .social-media-icon i{
     font-size:30px;
     line-height: 60px;
 }
 .line{
     width:90%;
     max-width: 1200px;
     margin:0 auto;
     height: 2px;
     margin-bottom: 60px;
     background: rgb(253, 253, 253);
 }

 @media screen and (max-width:800px) {
     .menu-navegacion{
         width: 50vw;
     }
     .menu{
        width: 35px;
    height: 35px;
    }
     .titulo{
         font-size:40px;
         text-align: center;
         justify-content: center;
     }
     .checklist-quienes{
        columns: 1;
        text-align: center;
     }
     .productos-contenedor img{
         width: 100%;
         margin-bottom: 40px;
     }
     .checklist-productos{
         width: 80%;
     }
     .producto{
         margin-bottom: 30px;
     }
     .agregar-imagen{
        width:80%;
     }
     .img-galeria{
         width: 45%;
     }
     .cont-donaciones{
         width: 80%;
     }
     .footer-content{
         justify-content: center;
     }
     .social-media{
         width: 80%;
         justify-content: space-evenly;
     }
     .social-media i{
         margin-left: 0;
     }

     .contact-us{
         text-align: center;
         width:80%;
         margin-bottom: 40px;
     }
 }
 @media screen and (max-width:500px) {
    .menu-navegacion{
        width: 30vw;
    }
    .menu{
        width: 30px;
    height: 30px;
    }
    .titulo{
        font-size:30px;
    }
    .subtitulo{
       font-size: 30px;
    }
    .copy{
        font-size: 20px;
    }
    .checklist-quienes{
       columns: 1;
       text-align: center;
    }
    .productos-contenedor img{
        width: 100%;
        margin-bottom: 40px;
    }
    .checklist-productos{
        width: 80%;
    }
    .producto{
        margin-bottom: 30px;
    }
    .agregar-imagen{
       width:90%;
    }
    .img-galeria{
        width: 90%;
    }
    .cont-donaciones{
        width: 100%;
    }
    .footer{
        height: 10px;
    }
    .footer-content{
        justify-content: center;
        width: 100%;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width:60%;
        margin-bottom: 20px;
    }
    .menu-navegacion{
        size: 20px;
    }
}